include LICENSE source/pybind11/LICENSE
graft source/pybind11/include
graft source/pybind11/tools
graft source/grapa-lib
graft source/fl-lib
graft source/blst-lib
graft source/openssl-lib
global-include CMakeLists.txt source/mainpy.cpp source/grapa/*.h source/openssl/*.h source/FL/*.h source/FL/*.H source/X11/*.h source/openssl/*.h
