include LICENSE source/pybind11/LICENSE
graft source/pybind11/include
graft source/pybind11/tools
recursive-include source/grapa-lib *a
recursive-include source/openssl-lib *a
recursive-include source/fl-lib *a
recursive-include source/blst-lib *a
global-include CMakeLists.txt source/mainpy.cpp 
global-include source/grapa/*.h 
global-include source/openssl/*.h 
global-include source/FL/*.h source/FL/*.H 
